@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-accent: #f59e0b;
  --color-dark-primary: #0f172a;
  --color-dark-secondary: #1e293b;
  --color-dark-tertiary: #334155;
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #94a3b8;
  --font-bungee: "Bungee", cursive;
}